@tailwind base;


html {
  width: 100%;
  height: 100%;
  
}

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

p{
  margin-bottom: 12px;
}

btn-icon,
btn-icon:hover,
btn-icon:active,
btn-icon:focus{
  box-shadow: none;
}

#satellite p{
  margin-bottom: 0;
}
#satellite table{
  font-size: 14px;
}


@tailwind components;
@tailwind utilities;