.swiper-button-next,
.swiper-button-prev {
  color: black;
}

.swiper-pagination-bullet-active {
  background: black;
}

/* .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2052.765999%2052.765999%22%3E%3Cpath%20style%3D%22opacity%3A1%3Bfill%3A%23ffffff%3Bfill-opacity%3A0.53333336%3Bstroke%3Anone%3Bstroke-width%3A4.32000017%3Bstroke-linecap%3Abutt%3Bstroke-miterlimit%3A4%3Bstroke-dasharray%3Anone%3Bstroke-opacity%3A1%22%20id%3D%22path888%22%20d%3D%22M%2052.765766%2C26.383116%20A%2026.382883%2C26.382883%200%200%201%2026.42444%2C52.765966%2026.382883%2C26.382883%200%200%201%201.31e-4%2C26.46623%2026.382883%2C26.382883%200%200%201%2026.258212%2C5.276e-4%2026.382883%2C26.382883%200%200%201%2052.765242%2C26.216889%22%20%2F%3E%3Cpath%20style%3D%22fill%3A%23000000%22%20d%3D%22m%2014.332883%2C26.383116%20v%200%20l%2022%2C22%202.1%2C-2.1%20-19.9%2C-19.9%2019.9%2C-19.8999999%20-2.1%2C-2.1%20z%22%20id%3D%22path2%22%20%2F%3E%3C%2Fsvg%3E") !important;
  width: 44px !important;
}

.swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2052.765999%2052.765999%22%3E%3Cpath%20style%3D%22opacity%3A1%3Bfill%3A%23ffffff%3Bfill-opacity%3A0.53333336%3Bstroke%3Anone%3Bstroke-width%3A4.32000017%3Bstroke-linecap%3Abutt%3Bstroke-miterlimit%3A4%3Bstroke-dasharray%3Anone%3Bstroke-opacity%3A1%22%20id%3D%22path888%22%20d%3D%22M%2052.765766%2C26.383116%20A%2026.382883%2C26.382883%200%200%201%2026.42444%2C52.765966%2026.382883%2C26.382883%200%200%201%201.31e-4%2C26.46623%2026.382883%2C26.382883%200%200%201%2026.258212%2C5.276e-4%2026.382883%2C26.382883%200%200%201%2052.765242%2C26.216889%22%20%2F%3E%3Cpath%20style%3D%22fill%3A%23000000%22%20d%3D%22m%2038.432883%2C26.383116%20v%200%20l%20-22%2C22%20-2.1%2C-2.1%2019.9%2C-19.9%20-19.9%2C-19.8999999%202.1%2C-2.1%20z%22%20id%3D%22path2%22%20%2F%3E%3C%2Fsvg%3E") !important;
  width: 44px !important;
} */
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "";
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "";
}

.swiper-title {
  bottom: 10%;
  left: 120px;
  float: left;
  position: absolute;
  z-index: 9999;
  font-size: 36px;
  color: white;
  background-color: #00000088;
  padding: 7px 14px;
}

.swiper-def {
  bottom: 20px;
  left: 120px;
  float: left;
  position: absolute;
  z-index: 9999;
  font-size: 20px;
  color: white;
  background-color: #00000088;
  padding: 7px 14px;
  width: calc(100% - 120px);
}

.swiper-pagination-bullet {
  margin: 0 6px !important;
}

@media (max-width: 1024px) {
  .swiper-title {
    font-size: 24px;
    bottom: 70px !important;
    left: 50px !important;
  }
  .swiper-def {
    display: none;
  }
}
